repos:
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
  - repo: https://github.com/codespell-project/codespell
    rev: v2.1.0
    hooks:
      - id: codespell
        args:
          - --quiet-level=2
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        args:
          - --ignore=E401,W503
          - --max-complexity=10
          - --max-line-length=88
          # E401 multiple imports on one line -- Sometimes key to 10 lines or less
          # W503 line break before binary operator
  #- repo: https://github.com/timothycrosley/isort
  #  rev: 4.3.21-2
  #  hooks:
  #    - id: isort
  #      args:
  #        - --recursive
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        # By default, mypy will run with mypy --ignore-missing-imports,
        # pre-commit runs mypy from an isolated virtualenv so it won't
        # have access to those. To change the arguments, override the
        # args as follows:
        # args: [--no-strict-optional, --ignore-missing-imports]
        additional_dependencies: [types-requests]
  #- repo: https://github.com/pytest-dev/pytest
  #  rev: 5.3.4
  #  hooks:
  #    - id: pytest
