repos:
-   repo: https://github.com/python/black
    rev: stable
    hooks:
    - id: black
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.761'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
        # By default, mypy will run with mypy --ignore-missing-imports,
        # pre-commit runs mypy from an isolated virtualenv so it won't
        # have access to those. To change the arguments, override the
        # args as follows:
        # args: [--no-strict-optional, --ignore-missing-imports]
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.7.9'  # pick a git hash / tag to point to
    hooks:
    - id: flake8
