ci:
  autofix_prs: true
repos:
  - repo: https://github.com/psf/black
    rev: 24.1.1
    hooks:
      - id: black
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args:
          - --quiet-level=2
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.14
    hooks:
      - id: ruff
        args:
          - --select=A,B,C,E,F,I,PL,RUF,UP,W
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        # By default, mypy will run with mypy --ignore-missing-imports,
        # pre-commit runs mypy from an isolated virtualenv so it won't
        # have access to those. To change the arguments, override the
        # args as follows:
        # args: [--no-strict-optional, --ignore-missing-imports]
        additional_dependencies: [types-requests]
