name: trending_python
on:
  workflow_dispatch:
jobs:
  trending_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.13
      - run: pip install beautifulsoup4 lxml requests
      - run: python trending_python.py
