name: trending_python
on:
  workflow_dispatch:
jobs:
  trending_python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          allow-prereleases: true
      - run: pip install beautifulsoup4 lxml requests
      - run: python trending_python.py
